/* Reset rules */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Map */
.map-content {
  width: 100%;
  height: 100%;
}

.map-content img {
  width: 100%;
  height: 550px;
}

/* Box message */
.main-content-msg {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: white;
  font-size: 15px;
}

.msg-content {
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
  margin: 5px 0px 5px;
  padding: 15px 15px 15px 15px;
  background-color: rgb(26, 199, 199);
  font-family: Verdana;
  border: 2px solid rgb(190, 200, 243);
  color: rgb(7, 0, 0);
  overflow: hidden;
}

.msg-content-min {
  width: min-width;
  justify-content: center;
  align-items: center;
  margin: 5px 0px 5px;
  padding: 15px 15px 15px 15px;
  background-color: rgb(26, 199, 199);
  font-family: Verdana;
  border: 2px solid rgb(190, 200, 243);
  color: rgb(0, 0, 0);
  overflow: hidden;
}

/* modal window */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 15px;
  background-color: rgba(175, 165, 72, 0.568);
  visibility: visible;
}

.modal-content {
  background-color: #ffffff;
  width: 100%;
  max-width: 700px;
  overflow: hidden;
  border-radius: 4px;
}

.modal-top {
  background-color: rgb(243, 245, 155);
  display: flex;
  padding: 0 5px;
  font-size: 20px;
  justify-content: flex-end;
  align-items: center;
}

.modal-title {
  flex-grow: 1;
  font-size: 30px;
}

.btn-close {
  display: flex;
  align-items: center;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

.modal-text {
  padding: 15px 15px;
  font-size: 25px;
  text-align: center;
}

/* Table */
td,
th {
  border: 2px solid rgb(0, 153, 0);
  padding: 15px 0px;
  background-color: #fffc4e;
  border-bottom: 1px solid #e21212;
  text-align: center;
}

.main-content-table {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
}

.content-table {
  border-collapse: collapse;
  margin: 0px 0px;
  font-size: 0.7em;
  font-family: sans-serif;
  min-width: 400px;
}

.text {
  color: rgb(251, 27, 7);
  background-color:white;
  font-size: 30px;
}

/* Cuando la pantalla es menor a 900px  (tablets y teléfonos inteligentes)*/
@media only screen and (max-width: 900px) {
  .main-content-msg {
    justify-content: center;
    align-items: start;
    background-color: white;
    font-size: 10px;
    padding: 11px;
  }

  .msg-content-min {
    margin: 5px 0px 5px;
    padding: 15px 15px 15px 10px;
  }

  /* Table */
td,
th {
  border: 2px solid rgb(0, 153, 0);
  padding: 1px 0px;
  background-color: #fffc4e;
  border-bottom: 1px solid #e21212;
  text-align: center;
}

.modal-text {
  padding: 5px 5px;
  font-size: 14px;
  text-align: center;
}

.text {
  color: rgb(251, 27, 7);
  background-color:white;
  font-size: 12px;
}
}
